<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Site Example</title>
</head>
<body>

    <h1>
        My Flask, Blueprint, Flask-RESTPlus and Swagger API Example
    </h1>

    <div>
        <p>
            This is the site part of our application,
            in this part you could add a front-end
            using templates and others tools or frameworks.
        </p>
    </div>

    <div>
        <a href="/api">Click here to see de API documentation</a>
    </div>

</body>
</html>